<div class="post-container">
  <div class="post-title-container" onclick="location.href='{{ post.url }}';">
    <span class="post-title">{{ post.title }}</span>
    <br>
  </div>
  <div class="post-image-container" onclick="location.href='{{ post.url }}';">
    <img src="{{ site.image_path }}/{{ post.image }}" class="post-image">
  </div>
  <div class="post-icon-container">
    {% if post.github %}
    <a href="{{ post.github }}" target="_blank">
      <img src="{{ site.image_path }}/github.png" class="post-icon">
    </a>
    {% endif %}
    {% if post.binder %}
    <a href="{{ post.binder }}" target="_blank">
      <img src="{{ site.image_path }}/binder.png" class="post-icon">
    </a>
    {% endif %}
  </div>
  <div class="post-excerpt-container" onclick="location.href='{{ post.url }}';">
    <span class="pub-excerpt">{{ post.excerpt | truncate: 300 }}</span>
  </div>
</div>
