

.about-image-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0.3rem;
  @include shadow;

  @include desktoptab {
    height: 25rem;
    width: 20rem;
  }

  @include mobile {
    height: 45rem;
    width: 40rem;
  }
}

.about-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: 0 -65px;
  display: block;
  margin-bottom: 1rem;
}

.about-name {
  margin: 1rem;
  font-weight: 600;
}

.about-tag {
  margin: 1rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.about-cs-logo {
  max-width: 60%;
}

.about-iframe-container {
  position: relative;
  padding-top: 56.25%;
  z-index: 0;
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  overflow: hidden;
}

.about-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
