@import "size";
@import "variables";

.site-footer {
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  background-color: $nav-bg-color;
  border-top: 1px solid $nav-border-color;
}

.site-footer-content {
  color: $nav-link-color;
  font-weight: $footer-font-weight;
  text-align: center;

  @include desktoptab {
    font-size: $footer-font-size;
  }

  @include mobile {
    font-size: $footer-font-size-mobile;
  }
}
