@import "size";

nav {
  background-color: $nav-bg-color;
  padding: 1.0rem 0.0rem;
  top: 0;
  position: sticky;
  border-bottom: 1px solid $nav-border-color;
  font-family: $nav-font-family;
  font-size: $nav-font-size;
  font-weight: $nav-font-weight;
  margin: 0 auto;
  z-index: 1;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: $nav-bg-color;
  overflow: hidden;
  max-width: 75%;
  margin: 0 auto;

  a {
    float: left;
    display: block;
    color: $nav-link-color;
    text-align: center;
    text-decoration: none;
  }

  a:not(:first-child) {
    padding: 0.0rem 1rem;
  }

  a:first-child {
    font-weight: $nav-site-font-weight;
    color: $nav-site-name-color;
    border-right: 1px solid $nav-line-color;
    padding-right: 1.5rem;
  }

  a:nth-child(2) {
    padding-left: 1.5rem;
  }

  a:hover, .dropdown:hover .dropbtn {
    color: $nav-link-hover-color;
  }

  .icon {
    display: none;
  }

}

@include mobile {

  nav {
    font-size: $nav-font-size-mobile;
  }

  .topnav {

    a {
      // padding: 0.4rem 1rem;
    }

    a:first-child {
      color: $nav-site-name-color;
      border-right: none;
    }

    a:not(:first-child):not(:last-child) {
      padding-top: 0.5rem;
    }

    a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }

    a.icon {
      float: right;
      display: block;
    }

    &.responsive {
      position: relative;

      a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      a {
        float: none;
        display: block;
        text-align: left;
      }

      a:not(:first-child) {
        padding-left: 2rem;
      }

    }

  }

}
