@import "size";

#markdown-toc {

  list-style: none;
  display: inline-block;

  a {
    color: $body-link-color;
    font-weight: $nav-font-weight;

    &:hover {
      color: $nav-link-hover-color;
      text-decoration: none;
    }
  }

  li {
    @include desktoptab {
      display:inline-block;
      padding-right: 0.7rem;

      &:not(:first-child) {
        padding-left: 0.4rem;
      }

      &:not(:last-child) {
        border-right: solid 1px $border-color;
      }
    }
   @include mobile {
     &:not(:last-child) {
       margin-bottom: 0.6rem;
     }
   }
  }

.toc-entry.toc-h1,
{}
.toc-entry.toc-h2
.toc-entry.toc-h3,
.toc-entry.toc-h4,
.toc-entry.toc-h5,
.toc-entry.toc-h6
{
  display: none;
}

}
