---
layout: default
---

{{ content }}

{% if page.category == "pub" or page.category == "blog" %}
{% assign filtered_posts = site.posts | where: 'category', page.category %}

{% if page.category == "blog" %}
<div class="desktop">
  <br>
  <div class="blog-container">
    {% for post in filtered_posts %}
      {% if post.visibility == "public" %}
        {%- include blog.html -%}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% for post in filtered_posts %}
<br>

<div class="desktop">
{% if page.category == "pub" %}
  {%- include pub_desktop.html -%}
{% endif %}
</div>

<div class="mobile">
{% if page.category == "blog" and post.visibility == "public" %}
  {%- include post_mobile.html -%}
{% elsif page.category != "blog" %}
  {%- include post_mobile.html -%}
{% endif %}
</div>
{% endfor %}
{% endif %}

{% if page.category == "soft" or page.category == "tutor" %}
{% assign filtered_posts = site.posts | where: 'category', page.category | sort %}
{% for post in filtered_posts %}
<br>

<div class="desktop">
  {% if page.category == "soft" %}
    {%- include soft_desktop.html -%}
  {% elsif page.category == "tutor" %}
    {%- include tutor_desktop.html -%}
  {% endif %}
</div>

<div class="mobile">
  {%- include post_mobile.html -%}
</div>
{% endfor %}
{% endif %}
