---
layout: default
---

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

{% assign country_count = page.visited_countries | size %}
{% assign territory_count = page.visited_territories | size %}

<div class="travel-stats">
  <div class="travel-stat">
    <span class="travel-stat-number">{{ country_count }}</span>
    <span class="travel-stat-label">Countries</span>
  </div>
  {% if territory_count > 0 %}
  <div class="travel-stat">
    <span class="travel-stat-number">{{ territory_count }}</span>
    <span class="travel-stat-label">Territories</span>
  </div>
  {% endif %}
</div>

{{ content }}

<div class="travel-map-container">
  <div id="travel-map"></div>
</div>

<h2>Countries Visited</h2>

<div class="travel-country-grid">
{% for country in page.visited_countries %}
  {% assign flag = site.data.country_flags[country] %}
  <div class="travel-country-chip">
    {% if flag %}<span class="travel-country-flag">{{ flag }}</span>{% endif %}
    <span class="travel-country-name">{{ country }}</span>
  </div>
{% endfor %}
</div>

{% if page.visited_territories %}
<h3>Territories &amp; Regions</h3>
<div class="travel-country-grid">
{% for territory in page.visited_territories %}
  {% assign flag = site.data.country_flags[territory] %}
  <div class="travel-country-chip">
    {% if flag %}<span class="travel-country-flag">{{ flag }}</span>{% endif %}
    <span class="travel-country-name">{{ territory }}</span>
  </div>
{% endfor %}
</div>
{% endif %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
(function () {
  var visitedCountries = [{% for c in page.visited_countries %}"{{ c }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
  var visitedTerritories = [{% for t in page.visited_territories %}"{{ t }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
  var allVisited = visitedCountries.concat(visitedTerritories);

  var map = L.map('travel-map').setView([20, 10], 2);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  fetch('/assets/countries.geojson')
    .then(function (r) { return r.json(); })
    .then(function (data) {
      L.geoJson(data, {
        style: function (feature) {
          var name = feature.properties.ADMIN || feature.properties.name;
          var visited = allVisited.indexOf(name) !== -1;
          return {
            fillColor: visited ? '#c0584e' : '#c8c4bc',
            weight: 1,
            color: '#fff',
            fillOpacity: visited ? 0.75 : 0.25
          };
        },
        onEachFeature: function (feature, layer) {
          var name = feature.properties.ADMIN || feature.properties.name;
          layer.bindPopup('<b>' + name + '</b>' + (allVisited.indexOf(name) !== -1 ? '<br>Visited ✓' : ''));
        }
      }).addTo(map);
    });
})();
</script>
